

#full-page {

    z-index: 0;
    position: relative;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden !important;
    width: 100%;
    max-width: 100%;
    
    }
      
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.3em;
    
    }
    
    b {	font-weight: 400;}
    
    strong {font-weight: 400;}
    
    
    h1 {
            font-size: 40px;
    font-family: 'Arvo', serif;
        text-align: center;
        font-weight: 700;
        padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #483737;
        
    
    }
    
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px !important;
          text-align: center !important;
              font-weight: 400;
      color: #483737;
    }
    
    h3 {
        font-size: 19px;
              font-family: 'Arvo', Georgia, serif;
        line-height: 1.2em !important;
       /* padding-left: 10px !important;    
      padding-right: 10px !important;*/
    
    }
    
    h4 {
        font-size: 18px !important;
        font-family: 'ubuntu', Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
        text-align: center !important;
              line-height: 1.4 !important;
       /* padding-left: 7px !important;    
      padding-right: 7px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;*/
    
    }
    
    h5 {
        font-size: 32px !important;
        font-family: 'Arvo', serif;
        text-align: center !important;
      line-height: 32px !important
        /*padding-left: 1px !important;    
      padding-right: 1px !important;
        padding-bottom: 0px !important;
          padding-top: 0px !important;*/
    
    }
    
    h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
          text-align: center !important;
              font-weight: 300;
        line-height: 1.3em;
      color: #483737;
    }
    
    html  {text-align: center;
    display: block;
    background: #ffd8aa;}
    
    #main {text-align: center;
    display: block;
    background: #ffd8aa;
    width: 80%;
    margin:0 auto;}
    
    #image {
    margin:0 auto;
    text-align: center;
    display: block;
    }
    
    
    @media screen and (max-width: 699px) {
    #image { width: 100%;}}
    
    @media screen and (min-width: 700px) {
    #image { width: 50%;}}
    
    .store-shadow {box-shadow: 0px 0px 16px #483737;}
    
    #footer-full {
      width: 100%;
      margin-top: 20px;
    }
    
    /* VISION STATEMENT IN FOOTER */
    
    .footer-vision {
      font-family: Mulish, sans;
      color: #b0fff7;
      font-weight: 500;
      text-align: center;
      background-color: #483737;
      padding-top: 80px;
      padding-bottom: 50px;
    }
    @media screen and (max-width: 800px) {
      .footer-vision {
    
          font-size: 1.15em;
          line-height: 1.3;
          padding-right: 4%;
          padding-left: 4%;
      }
    }
    @media screen and (min-width: 770px) and (max-width: 2000px) {
      .footer-vision {
          font-size: 1.7em;
          line-height: 1.3;
          padding-right: 10%;
          padding-left: 10%;
      }
    }
    
    /*INVITE TO CLICK ICONS*/
    
    .footer-invite {
    
      font-family: Arvo, serif;
      color: #a8aab8;
      text-align: center;
      background-color: #483737;
      line-height: 1.3;
    }
    
    .footer-invite a {
      color: #a8aab8 !important;
      text-decoration: pointer;
    }
    .footer-invite a:hover {
      color: #9fdafc !important;
      text-decoration: none;
    }
    @media screen and (max-width: 800px) {
      .footer-invite {
          font-size: 0.9em;
          line-height: 1.3;
          padding-right: 5%;
          padding-left: 5%;
      }
    }
    @media screen and (min-width: 800px) and (max-width: 2000px) {
      .footer-invite {
          font-size: 1.3em;
          line-height: 1.3;
          padding-right: 10%;
          padding-left: 10%;
      }
    }
    
    
    
    /* FOUR FOOTER SECTIONS */
    
    .footer-content {
      padding: 20px 5% 40px;
      background-color: #483737;
      display: flex;
      align-items: stretch;
      flex-direction: row;
      box-sizing: border-box;
    }
    
    /* Responsive layout - makes a one column-layout instead of two-column layout */
    @media (max-width: 800px) {
      .footer-content {
          flex-direction: column;
      }
    }
    
    .footer-box {
      padding: 15px;
      flex: 50%;
    }
    
    .footer-header {
      font-family: Arvo, serif;
      color: #529bc2;
      font-weight: 100;
      text-align: left;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 770px) {
      .footer-header {
          font-size: 1.2em;
          line-height: 1.2;
      }
    }
    @media screen and (min-width: 770px) and (max-width: 2000px) {
      .footer-header {
          font-size: 1.5em;
          line-height: 1.3;
      }
    }
    
    .footer-subtext {
      font-family: Mulish, sans-serif;
      color: #8cbdda;
      font-weight: 300;
      text-align: left;
    }
    
    .footer-subtext a {
      color: #8cbdda;
    }
    .footer-subtext a:hover {
      color: #fff;
      text-decoration: none;
    }
    @media screen and (max-width: 800px) {
      .footer-subtext {
          font-size: 0.9em;
          line-height: 1.2;
      }
    }
    @media screen and (min-width: 800px) and (max-width: 2000px) {
      .footer-subtext {
          font-size: 1.1em;
          line-height: 1.3;
      }
    }
    
    .footer-bottom {
      width: 100%;
      padding-bottom: 50px;
      background-color: #483737;
      margin-bottom: -20px;
      text-align: center;
    }
    
    .footer-conclusion {
      font-family: Mulish, sans;
      color: #8cbdda;
      line-height: 1.3;
      font-weight: 300;
      text-align: center;
    
      background-color: #483737;
      padding-top: 5px;
      padding-bottom: 15px;
    
    }
    
    .footer-conclusion a {
      color: #9fdafc;
    }
    .footer-conclusion a:hover {
      color: #fff;
      text-decoration: none;
    }
    @media screen and (max-width: 800px) {
      .footer-conclusion {
          font-size: 0.9em;
          line-height: 1.2;
          padding-right: 6%;
          padding-left: 6%;
      }
    }
    @media screen and (min-width: 800px) and (max-width: 2000px) {
      .footer-conclusion {
          font-size: 1.1em;
          line-height: 1.3;
          padding-right: 10%;
          padding-left: 10%;
      }
    }
    